<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" 
            href="{{asset('favicon/favicon.ico')}}">
        <link rel="apple-touch-icon" sizes="180x180" 
            href="{{asset('favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" 
            href="{{asset('favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" 
            sizes="16x16" href="{{asset('favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ asset('favicon/logo.webmanifest') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,200;1,300;1,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/83f4286022.js"  crossorigin="anonymous"></script>
       {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <div class="wrapper" role="wrapper">
            <!-- header -->
            {% include "partials/_header.html.twig" %}
            <!-- Search -->
            {% include "partials/_search.html.twig" %}
            <!-- Main -->
            <main>
                {% block body %}{% endblock %}
            </main>
            <!-- Aside -->
            {% include "partials/_sidebar.html.twig" %}
            <!-- Footer -->
            {% include "partials/_footer.html.twig" %}
        </div>
    </body>
</html>
